*.pyc
*.so
*.o
build/
myutils.py
*.png
*.dat
*.txt
*.log
*~
.DS_Store
chains/
*.eps
orbit
data/
*.txt2
*.txt3
*.aux
*.bbl
*.blg
*.pdf
*.ps
*.log
*.dvi
*synctex.gz
*Notes.bib



*.pyc

*.o

*.so

output*/
