*.pyc
*.so
*.o
build/
myutils.py
*.png
*.dat
*.txt
*.log
*~
.DS_Store
chains/
*.eps
orbit
data/
*.txt2
*.txt3
*.aux
*.bbl
*.blg
*.pdf
*.ps
*.log
*.dvi
*synctex.gz
*Notes.bib



*.pyc

*.o

*.so

emcee/utils.pyc

emcee/sampler.pyc

emcee/ptsampler.pyc

emcee/mh.pyc

emcee/ensemble.pyc

emcee/__init__.pyc

build/temp.macosx-10.9-x86_64-2.7/orbit.o

_orbit.so
